.product-hover-zoom {
    display: inline-block;  /* of ‘block’, afhankelijk van je layout */
    overflow: hidden;
}

.product-hover-zoom img {
    display: block;         /* voorkom ongewenste witruimte rond de IMG */
    width: 100%;            /* zorg dat hij de container vult */
    height: auto;
    transition: transform 1s ease-out;
}

.product-hover-zoom:hover img {
    transform: scale(1.1);
}

.body-wrapper {
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

/* Geen border bij focus van een button */
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}
